<div class="card-container">
  <mat-card class="card-container_item">
    <mat-card-header>
      <mat-card-title>{{ breed.breed }}</mat-card-title>
      <app-favorites-list-toggle breedId="{{breed._id}}" breedName="{{breed.breed}}"></app-favorites-list-toggle>
    </mat-card-header>
    <img src={{breed.imgUrl}} onError="this.src='../../assets/breed_photos/frankie2.jpeg'" class="details-dialog-img" width="100%"
      alt="An image of a {{breed.breed}} chicken">
    <mat-dialog-content>
      <p *ngIf="breed.description"><b>Description:</b> {{breed.description}}</p>
      <p *ngIf="breed.purpose">
        <b>Purpose: </b>
        <ng-container *ngFor="let breedPurpose of convertBreedData.convertPurpose(breed.purpose); last as isLast">
          {{breedPurpose | titlecase}}
          <ng-container *ngIf="!isLast">, </ng-container>
        </ng-container>
      </p>
      <p *ngIf="breed.apaClass">
        <b>APA Class: </b>{{breed.apaClass.name}}
      </p>
      <p *ngIf="breed.eggColor">
        <b>Egg Color: </b>{{breed.eggColor | titlecase}}
      </p>
      <p *ngIf="breed.eggSize">
        <b>Egg Size: </b>{{breed.eggSize | titlecase}}
      </p>
      <p *ngIf="breed.eggProduction">
        <b>Egg Production: </b>{{breed.eggProduction | titlecase}}
      </p>
      <p *ngIf="breed.eggsPerYear">
        <b>Eggs Per Year(avg): </b>{{breed.eggsPerYear | titlecase}}
      </p>
      <p *ngIf="breed.origin">
        <b>Origin: </b>{{breed.origin | titlecase}}
      </p>
      <p *ngIf="breed.heatTolerance">
        <b>Heat Tolerance: </b>{{breed.heatTolerance | titlecase}}
      </p>
      <p *ngIf="breed.coldTolerance">
        <b>Cold Tolerance: </b>{{breed.coldTolerance | titlecase}}
      </p>
      <p *ngIf="breed.temperament">
        <b>Temperament: </b>{{breed.temperament | titlecase}}
      </p>
    </mat-dialog-content>
  </mat-card>
</div>