<div class="card-container">
  <mat-card class="card-container_item" *ngFor="let breed of breedsToDisplay; let i=index;">
    <mat-card-header>
      <mat-card-title>{{ breed.breed }}</mat-card-title>
      <mat-card-subtitle>

      </mat-card-subtitle>
    </mat-card-header>
    <img src={{breed.imgUrl}} onError="this.src='../../assets/breed_photos/frankie2.jpeg'" width="250px" alt="An image of a {{breed.breed}} chicken">
    <mat-dialog-content>
      <p *ngIf="breed.description"><b>Description:</b> {{breed.description}}</p>
      <div *ngIf="breed.purpose">
        <b>Purpose: </b>
        <span *ngFor="let breedPurpose of convertBreedData.convertPurpose(breed.purpose); last as isLast">
          <a href="/purpose/{{breedPurpose}}">{{breedPurpose}}</a>
          <span *ngIf="!isLast">, </span>
        </span>
        <p></p>
      </div>
      <p *ngIf="breed.apaClass">
        <b>APA Class: </b><a href="/apaclass/{{breed.apaClass.name}}">{{breed.apaClass.name}}</a>
      </p>
      <p><b>Egg Color: </b>{{breed.eggColor | titlecase}}</p>
    </mat-dialog-content>
    <mat-card-actions>
      <button mat-icon-button (click)="addBreedToUserFavorites(breed)" aria-label="add this breed to your favorites">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button mat-icon-button (click)="removeBreedFromUserFavorites(breed)" aria-label="add this breed to your favorites">
        <mat-icon>favorite_border</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

</div>