
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$chickenPicker-Angular-client-primary: mat.define-palette(mat.$indigo-palette);
$chickenPicker-Angular-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$chickenPicker-Angular-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$chickenPicker-Angular-client-theme: mat.define-light-theme((
  color: (
    primary: $chickenPicker-Angular-client-primary,
    accent: $chickenPicker-Angular-client-accent,
    warn: $chickenPicker-Angular-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($chickenPicker-Angular-client-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(207,205,193);
}

.main{
  margin: 0 auto;
  max-width: 90%;
  padding-top: 25px;
}

.main-page {
  text-align: center;
  margin-top: 50px;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  font-size: 30px;
}

/**
* Navbar styles
*/
.app-title-link {
  text-decoration: none;
  color: black;


  :visited {
    color: black;
    text-decoration: none;
  }
  :link {
    text-decoration: none;
  }

  .app-title {
    font-family: 'Pattaya', sans-serif;
    font-size: 35px;
    margin-top: 25px;
    line-height: 5px;
  }
  .app-subtitle {
    font-size: 14px;
    font-weight: 200;
  }
}

/**
* Card styles
*/
.mat-card-header {
  display: flex;
  justify-content: space-between;
}

div.mat-card-header-text {
  margin: 0;
}

.mat-card-title {
  // margin-left: -16px;
  font-size: 25px;
  padding-bottom: 5px;
}

mat-card-subtitle.mat-card-subtitle{
  margin-bottom: 5px;
}

.mat-dialog-container {
  background-color: rgb(207,205,193);
  // background-color: rgb(166,120,66);
}

// Breed Details component styles
.details-dialog-img {
  margin-bottom: 10px;
}

/**
* Profile styles
*/
.favorites-header {
  h2{

    font-size: 25px;
  }

}


/**
* Form styles
*/
form {
  mat-form-field {
    margin: 10px 0;
    display: block;
    width: 100%;
  }
}
form.login-form, form.registration-form, form.profile-form {
  // margin-left: 100px;
  width: 100%;
}

mat-card.form-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 20px;
  padding: 30px;

  .mat-card-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  
    button {
      width: 150px;
      margin: 5px;
    }
  }
}